* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "LuffyScript", 'Courier New', Courier, monospace;
}

body {
    background: url(./images/OpLogo.png);
    background-size: 15vh;

}

.crew_container {
    width: 100vw;
}

.sContainer {
    width: 100vw;

}
.crew_title {
    font-size: 5vw;
    background-color: yellow;
    color:blue;
    text-align: center;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.crew_button {
    background-color: red;
    color: blue;
    font-size: 5vw;
    text-decoration: underline;
    padding: 1vh 1vw;
    border-radius: 5vw;
    font-size: 2vh;
    font-weight: 860;

}
.crew_button:hover {
    background-color:rgb(157, 203, 244);
    color: red;
    font-size: 22px;
}

.crew_description {
    font-size: 5vw;
    display: none;
    background: rgb(157, 203, 244);
    color: rgb(7, 7, 146);
    width: 80vw;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    padding: 8px;
}

.names {
    background: blue;
    padding: 1vh;
    color: rgb(201, 223, 248);
    
}

.titles {
    background: yellow;
}

/* the crew */

.crew_navigator {
    background: red;
    margin-left: 22vw;
    margin-right: 22vw;
    font-weight: 900;
    color: rgb(0, 0, 92);

}
.characterBackground {
    background: url(./images/wantedWEBP.gif);
    background-size: 100px;
}

.mainsBoxShadow {
    box-shadow: 15px 10px 200px black ;
}

.crew_captain {
    margin-left: 22vw;
    margin-right: 22vw;
    font-weight: 900;
    color: rgb(0, 0, 92);
}

.crew_sniper {
    margin-left: 22vw;
    margin-right: 22vw;
    font-weight: 900;
    color: rgb(0, 0, 92);

}

.crew_cook {
    margin-left: 22vw;
    margin-right: 22vw;
    font-weight: 900;
    color: rgb(0, 0, 92);

}
.crew_doctor {
    margin-left: 22vw;
    margin-right: 22vw;
    font-weight: 900;
    color: rgb(0, 0, 92);

}

.crew_swordsman {
    margin-left: 22vw;
    margin-right: 22vw;
    font-weight: 900;
    color: rgb(0, 0, 92);

}
/*------------- Image section-------------------  */

/* I'm repeating my self.. DRY... need dry code.. */
/* tried to make it a little more responsive with percentages */
.characterImg {
    width: 20%;
    height: 10%;
    }

    footer {
        background-color: white;
        width: 100%;
        margin: 0 auto;
    }

@media all and (min-width: 1023px) {




}

@font-face {
    font-family: LuffyScript;
    src: url(./fonts/xbonesrough.ttf);
}