* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "LuffyScript", 'Courier New', Courier, monospace;
}

body {
    background: url(./images/OpLogo.png);
    background-size: 15vh;

}

.header {
    font-family: "PirateScript", 'Courier New', Courier, monospace;
    letter-spacing: 4px;
}

.crew_container {
    width: 100vw;
}

.sContainer {
    width: 100vw;

}
.crew_title {
    font-size: 5vw;
    background-color: yellow;
    color:blue;
    text-align: center;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.crew_button {
    background-color: red;
    color: blue;
    font-size: 5vw;
    text-decoration: underline;
    padding: 1vh 1vw;
    border-radius: 5vw;
    font-size: 2vh;
    font-weight: 860;

}
.crew_button:hover {
    background-color:rgb(157, 203, 244);
    color: red;
    font-size: 22px;
}

.crew_description {
    font-size: 5vw;
    display: none;
    background: rgb(188, 219, 245);
    color: rgb(2, 2, 98);
    width: 80vw;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    padding: 8px;
}

.names {
    background: blue;
    padding: 1vh;
    color: rgb(201, 223, 248);
    
}

.titles {
    background: yellow;
}

/* the crew */


.characterBackground {
    background: url(./images/wantedWEBP.gif);
    background-size: 100px;
}

.mainsBoxShadow {
    box-shadow: 0px 10px 200px black ;
}

.navigator {
    margin-left: 22vw;
    margin-right: 22vw;
    font-weight: 900;
    color: rgb(0, 0, 92);
    grid-area: navigator;

}
.captain {
    margin-left: 22vw;
    margin-right: 22vw;
    font-weight: 900;
    color: rgb(0, 0, 92);
    grid-area: captain;
}

.sniper {
    margin-left: 22vw;
    margin-right: 22vw;
    font-weight: 900;
    color: rgb(0, 0, 92);
    grid-area: sniper;

}

.cook {
    margin-left: 22vw;
    margin-right: 22vw;
    font-weight: 900;
    color: rgb(0, 0, 92);
    grid-area: cook;

}
.doctor {
    margin-left: 22vw;
    margin-right: 22vw;
    font-weight: 900;
    color: rgb(0, 0, 92);
    grid-area: doctor;

}

.swordsman {
    margin-left: 22vw;
    margin-right: 22vw;
    font-weight: 900;
    color: rgb(0, 0, 92);
    grid-area: swordsman;

}
/*------------- Image section-------------------  */


.characterImg {
    width: 20%;
    height: 10%;
    }

    footer {
        background-color: white;
        width: 100%;
        margin: 0 auto;
    }

@media all and (min-width: 800px) {

    .crew_members {
        display: grid;
        width: 100%;
        justify-content: center;
        grid-template-areas:
        "captain cook"
        "doctor swordsman "
        "sniper navigator"
        ;
    }
    .characterImg {
        width: 15vw;
        height: 28vw;
        }

        .crew_description {
            
            font-size: 2vw;
            text-wrap: wrap;
            width: 50vw;
            height: 60vh;
            border-radius: 9%;
        }

        .crew_all {
            inset: 0;
            padding: -1%;
            margin: 0 auto;
        }
        .names,
        .titles {
            width: 121%;
        }

        .navigator,
        .captain,
        .sniper,
        .cook,
        .doctor,
        .swordsman {
                width: 45%;
                margin: 0;
                padding: 1vh 10vw;
        }

}

@font-face {
    font-family: LuffyScript;
    src: url(./fonts/xbonesrough.ttf);
}

@font-face {
    font-family: PirateScript;
    src: url(./fonts/JackPirate_PERSONAL_USE_ONLY.ttf);
}